<ion-header>
  <ion-toolbar>
    <ion-title>parametrosQuery</ion-title>
    <ion-button slot="start" [routerLink]="['/resultados']"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  id: {{ id }}
  partido: {{ partido }}
  fecha: {{ fecha }}
  resultado: {{ resultado }}

  <ion-card>
    <ion-header>
      <ion-title>{{  partido  }}</ion-title>
    </ion-header>
    <ion-card-content>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="{{equipo1}}" />
        </ion-thumbnail>
        <ion-label class="ion-text-center">{{ resultado }}</ion-label>
        <ion-thumbnail slot="end">
        <img src="{{equipo2}}">
        </ion-thumbnail>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size-md="5">
            {{ posesion1 }}
          </ion-col>
          <ion-col size-md="5">
            Posesión
           </ion-col>
          <ion-col size-md="2">
            {{ posesion2 }}
          </ion-col>
        </ion-row>
      </ion-grid>
      <hr>
      <ion-grid>
        <ion-row>
          <ion-col size-md="5">
            {{ offside1 }}
          </ion-col>
          <ion-col size-md="5">
            Fueras de Juego
           </ion-col>
          <ion-col size-md="2">
            {{ offside2 }}
          </ion-col>
        </ion-row>
      </ion-grid>
      <hr>
      <ion-grid>
        <ion-row>
          <ion-col size-md="5">
            {{ tirosEsquina1 }}
          </ion-col>
          <ion-col size-md="5">
            Saques de Esquina
           </ion-col>
          <ion-col size-md="2">
            {{ tirosEsquina2 }}
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>
</ion-content>


