<ion-header>
  <ion-toolbar>
    <ion-title>Contacto</ion-title>
    <ion-button slot="start" [routerLink]="['/home']"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <h1>Estas son todas Nuestras redes Sociales Oficiales para que nos contactes</h1>
  </ion-item>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Instagram</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button href="https://www.instagram.com/onefootball/"><ion-icon name="logo-instagram"></ion-icon> @OneFootball</ion-button>
    </ion-card-content>
  </ion-card>
  <hr>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Facebook</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button href="https://www.facebook.com/OneFootball.de/"><ion-icon name="logo-facebook"></ion-icon>OneFootball</ion-button>
    </ion-card-content>
  </ion-card>
  <hr>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Twitter</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button href="https://twitter.com/Onefootball"><ion-icon name="logo-twitter"></ion-icon>OneFootball</ion-button>
    </ion-card-content>
  </ion-card>
  <hr>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Youtube</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button href="https://www.youtube.com/channel/UC2-0sEOYbQFuaURd_AU6Krg"><ion-icon name="logo-youtube"></ion-icon>OneFootball</ion-button>
    </ion-card-content>
  </ion-card>
  <hr>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Tik Tok</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button href="https://www.tiktok.com/@onefootball"><ion-icon name="logo-tiktok"></ion-icon>OneFootball</ion-button>
    </ion-card-content>
  </ion-card>


</ion-content>
