<ion-header>
  <ion-toolbar>
    <ion-title>Acerca De</ion-title>
    <ion-button slot="start" [routerLink]="['/home']"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Nosotros</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <h1>¿Quienes Somos?</h1>
      <h2>Somos una empresa verdaderamente global, con más de 360 ​​empleados que representan a más de 40 nacionalidades diferentes que revolucionan el fútbol</h2>
      <hr>
      <h1>¿Donde nos ubicamos?</h1>
      <h2>nuestra sede esta ubicada en Berlín y centros satélite en Londres, Singapur, Nueva York, Ciudad de México y São Paulo.</h2>
      <hr>
      <h1>¿Que es OneFootball?</h1>
      <h2>EL MUNDO DEL FUTBOL EN UNA APP. Sumérgete en el mundo del fútbol y sigue todos los resultados, noticias, marcadores, estadísticas, alineaciones, mercado de fichajes de todas las ligas</h2>
      <hr>

    </ion-card-content>
  </ion-card>

</ion-content>
